html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  /* background-color: #e0e0e0; */
}
*.highcharts-credits {
  display: none;
}
*.highcharts-title {
  display: none;
}
*.highcharts-legend {
  display: none;
}
