version: '3.9'
services:
 postgresd-metrics:
  image: postgres:13.3
  ports:
   - 5407:5432
  environment:
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=Pass2020!
  networks:
   - ukama-net
  volumes:
   - postgress-data:/var/lib/postgresql

 prometheus:
  image: prom/prometheus:v2.55.1
  ports:
   - 9079:9090
  volumes:
   - ./prometheus:/etc/prometheus
   - prometheus-data:/prometheus
  command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml
  networks:
   - ukama-net

 exporter:
  build: ./exporter
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-metrics:9095
   - EXPORTER_SERVICE_HOST=exporter
   - EXPORTER_SERVICE_PORT=9090
   - ORGNAME=${ORGNAME}
  restart: always
  networks:
   - ukama-net

 sanitizer:
  build: ./sanitizer
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - PUSHGATEWAYHOST=http://${LOCAL_HOST_IP}:9091
   - HTTP_INITCLIENT=http://api-gateway-init:8080
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-metrics:9095
   - SANITIZER_SERVICE_HOST=sanitizer
   - SANITIZER_SERVICE_PORT=9090
   - ORGNAME=${ORGNAME}
  restart: always
  networks:
   - ukama-net

 reasoning:
  build: ./reasoning
  environment:
    - DEBUGMODE=true
    - REASONING_SERVICE_HOST=reasoning
    - REASONING_SERVICE_PORT=9090
    - MSGCLIENT_HOST=msgclient-metrics:9095
    - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
    - PROMETHEUS_HOST=http://localhost:9079
    - PROMETHEUS_INTERVAL=60
    - SCHEDULER_INTERVAL=60s
    - ORGNAME=${ORGNAME}
    - HTTP_INITCLIENT=http://api-gateway-init:8080
  restart: always
  depends_on:
   - prometheus
  networks:
   - ukama-net

 api-gateway-metrics:
  build: ./api-gateway
  ports:
   - 8067:8080
  environment:
   - METRICSCONFIG_METRICSSERVER=http://prometheus:9090
   - BYPASS_AUTH_MODE=true
   - ORGNAME=${ORGNAME}
   - PERIOD=
  restart: always
  depends_on:
   - exporter
  networks:
   - ukama-net

 msgclient-metrics:
  build: ../services/msgClient
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-metrics
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - GRPC_PORT=9095
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - SYSTEM=metrics
  restart: always
  depends_on:
   - prometheus
  networks:
   - ukama-net

 initclient-metrics:
  build: ../services/initClient
  environment:
   - ENV_SYSTEM_ORG=${ORGNAME}
   - ENV_DNS_REFRESH_TIME_PERIOD=30
   - ENV_SYSTEM_NAME=metrics
   - ENV_SYSTEM_DNS=api-gateway-metrics
   - ENV_SYSTEM_ADDR=${LOCAL_HOST_IP}
   - ENV_DNS_SERVER=false
   - ENV_SYSTEM_PORT=8080
   - ENV_SYSTEM_CERT=This-is-a-certificate
   - ENV_INIT_SYSTEM_ADDR=${LOCAL_HOST_IP}
   - ENV_INIT_SYSTEM_PORT=8071
   - ENV_INIT_CLIENT_ADDR=initclient-metrics
   - ENV_INIT_CLIENT_PORT=8080
   - ENV_INIT_CLIENT_TEMP_FILE=/tmp/tmpfile
  restart: always
  networks:
   - ukama-net

volumes:
 postgress-data:
 prometheus-data:

networks:
 ukama-net:
  external: true
  name: services_ukama-net
