version: '3.7'

services:

  postgresd:
    image: postgres:13.3
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
    networks:
      - intranet
    volumes:
      - postgress-data:/var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8090:8080
    networks:
      - intranet

  registry:
    image: 003664043471.dkr.ecr.us-east-1.amazonaws.com/registry:9e4a4e6 
    ports:
      - "9090:9090"
    environment:
      - DEBUGMODE=true
      - DB_HOST=postgresd
      - DB_PASSWORD=pass
      - DB_USER=postgres
    restart: always
    networks:
      - intranet

networks:
  intranet:

volumes:
  postgress-data:
