[submodule "nodes/ukamaOS/distro/vendor/orcania"]
	path = nodes/ukamaOS/distro/vendor/orcania
	url = https://github.com/babelouest/orcania.git
[submodule "nodes/ukamaOS/distro/vendor/tomlc"]
	path = nodes/ukamaOS/distro/vendor/tomlc
	url = https://github.com/cktan/tomlc99.git
[submodule "nodes/ukamaOS/distro/vendor/yder"]
	path = nodes/ukamaOS/distro/vendor/yder
	url = https://github.com/babelouest/yder.git
[submodule "nodes/ukamaOS/distro/vendor/jansson"]
	path = nodes/ukamaOS/distro/vendor/jansson
	url = https://github.com/ukama/jansson.git
[submodule "nodes/ukamaOS/distro/vendor/amqp"]
	path = nodes/ukamaOS/distro/vendor/amqp
	url = https://github.com/alanxz/rabbitmq-c.git
[submodule "nodes/ukamaOS/distro/vendor/Unity"]
	path = nodes/ukamaOS/distro/vendor/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "nodes/ukamaOS/distro/vendor/libcap"]
	path = nodes/ukamaOS/distro/vendor/libcap
	url = https://github.com/ukama/libcap.git
[submodule "nodes/ukamaOS/distro/vendor/libuuid"]
	path = nodes/ukamaOS/distro/vendor/libuuid
	url = https://github.com/ukama/libuuid.git
[submodule "nodes/ukamaOS/distro/vendor/prometheus-client"]
	path = nodes/ukamaOS/distro/vendor/prometheus-client
	url = https://github.com/ukama/prometheus-client.git
[submodule "nodes/ukamaOS/distro/vendor/ulfius"]
	path = nodes/ukamaOS/distro/vendor/ulfius
	url = https://github.com/ukama/ulfius.git
[submodule "nodes/ukamaOS/firmware"]
	path = nodes/ukamaOS/firmware
	url = https://github.com/ukama/firmware.git
	branch = ukama-anode-latest
[submodule "nodes/ukamaOS/distro/vendor/busybox"]
	path = nodes/ukamaOS/distro/vendor/busybox
	url = https://github.com/ukama/busybox.git
[submodule "nodes/ukamaOS/kernel"]
	path = nodes/ukamaOS/kernel
	url = https://github.com/ukama/kernel.git
	branch = ukama-anode-latest
[submodule "nodes/ukamaOS/distro/vendor/protobuf-c"]
	path = nodes/ukamaOS/distro/vendor/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
