# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
*.o

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
**/.idea/*
**/.vscode/*
**/bin/*
node_modules

systems/data-plan/base-rate/cover.
systems/inventory/component/temp
systems/inventory/accounting/temp
systems/console-bff/.cache/*
systems/testing/integration/pkg/user_stories/coverage.out
systems/console-bff/.cache/*
systems/console-bff/bff-store
systems/console-bff/ukama-bff-store
systems/console-bff/ukama-systems-bff
dump.rdb
interfaces/console/pkg
systems/billing/provider/.env
build
builder/scripts/buildSystems.log
.env
test-temp