@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/rubik-v18-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/rubik-v18-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/rubik-v18-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/rubik-v18-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("./assets/fonts/rubik-v18-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/rubik-v18-latin-regular.svg#Rubik")
            format("svg"); /* Legacy iOS */
    font-display: swap;
}
/* rubik-500 - latin */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/rubik-v18-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/rubik-v18-latin-500.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/rubik-v18-latin-500.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/rubik-v18-latin-500.woff") format("woff"),
        /* Modern Browsers */ url("./assets/fonts/rubik-v18-latin-500.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/rubik-v18-latin-500.svg#Rubik") format("svg"); /* Legacy iOS */
    font-display: swap;
}
/* rubik-600 - latin */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/rubik-v18-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/rubik-v18-latin-600.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/rubik-v18-latin-600.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/rubik-v18-latin-600.woff") format("woff"),
        /* Modern Browsers */ url("./assets/fonts/rubik-v18-latin-600.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/rubik-v18-latin-600.svg#Rubik") format("svg"); /* Legacy iOS */
    font-display: swap;
}
/* rubik-700 - latin */
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/rubik-v18-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/rubik-v18-latin-700.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/rubik-v18-latin-700.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/rubik-v18-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("./assets/fonts/rubik-v18-latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/rubik-v18-latin-700.svg#Rubik") format("svg"); /* Legacy iOS */
    font-display: swap;
}

/* work-sans-regular - latin */
@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/work-sans-v16-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/work-sans-v16-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/work-sans-v16-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/work-sans-v16-latin-regular.woff")
            format("woff"),
        /* Modern Browsers */
            url("./assets/fonts/work-sans-v16-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/work-sans-v16-latin-regular.svg#WorkSans")
            format("svg"); /* Legacy iOS */
    font-display: swap;
}
/* work-sans-500 - latin */
@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/work-sans-v16-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/work-sans-v16-latin-500.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/work-sans-v16-latin-500.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/work-sans-v16-latin-500.woff") format("woff"),
        /* Modern Browsers */ url("./assets/fonts/work-sans-v16-latin-500.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/work-sans-v16-latin-500.svg#WorkSans")
            format("svg"); /* Legacy iOS */
    font-display: swap;
}
/* work-sans-600 - latin */
@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/work-sans-v16-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/work-sans-v16-latin-600.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/work-sans-v16-latin-600.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/work-sans-v16-latin-600.woff") format("woff"),
        /* Modern Browsers */ url("./assets/fonts/work-sans-v16-latin-600.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/work-sans-v16-latin-600.svg#WorkSans")
            format("svg"); /* Legacy iOS */
    font-display: swap;
}
/* work-sans-700 - latin */
@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/work-sans-v16-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("./assets/fonts/work-sans-v16-latin-700.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/fonts/work-sans-v16-latin-700.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("./assets/fonts/work-sans-v16-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("./assets/fonts/work-sans-v16-latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("./assets/fonts/work-sans-v16-latin-700.svg#WorkSans")
            format("svg"); /* Legacy iOS */
    font-display: swap;
}
html,
body {
    height: 100vh;
    overflow-x: hidden;
}

.BrainhubCarousel__customArrows {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.BrainhubCarousel__arrow--disable {
    opacity: 0.4;
    cursor: default;
}

.BrainhubCarousel__arrows span {
    border-color: #000000 !important;
}

.BrainhubCarousel__arrows span:hover {
    border-color: #2190f6 !important;
}

.BrainhubCarousel__trackContainer ul {
    padding: 2px !important;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 2px solid transparent;
    background-color: #adadad;
}

.StripeElement {
    padding: 12px !important;
    border-style: none;
    will-change: opacity, transform;
    border: 1px solid #adadad;
    border-radius: 4px;
    box-shadow: "0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)";
}
