version: "3.2"
services:
  postgresd-node:
    image: postgres:13.3
    ports:
      - "54089:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Pass2020!
    networks:
      - ukama-net
    volumes:
      - postgress-data:/var/lib/postgresql

  controller:
    build: ./controller
    ports:
      - "9089:9090"
    environment:
      - DEBUGMODE=true
      - ORGID=${ORGID}
      - ORGNAME=${ORGNAME}
      - DB_HOST=postgresd-node
      - DB_PASSWORD=Pass2020!
      - DB_USER=postgres
      - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
      - MSGCLIENT_HOST=msgclient-node:9095
      - CONTROLLER_SERVICE_HOST=controller
      - CONTROLLER_SERVICE_PORT=9090
      - OWNERID=${OWNERID}
      - ORGREGISTRYHOST=http://${LOCAL_HOST_IP}:8060
    restart: always
    networks:
      - ukama-net
    depends_on:
      - msgclient-node
      - postgresd-node

  health:
    build:
      context: ./health
      dockerfile: ./Dockerfile
    environment:
      - DEBUGMODE=true
      - DB_HOST=postgresd-node
      - DB_PASSWORD=Pass2020!
      - DB_USER=postgres
      - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
      - MSGCLIENT_HOST=msgclient-node:9095
      - HEALTH_SERVICE_HOST=health
      - HEALTH_SERVICE_PORT=9090
      - ORGHOST=http://${LOCAL_HOST_IP}:8060
      - ORGNAME=${ORGNAME}
    restart: always
    networks:
      - ukama-net
    depends_on:
      - msgclient-node

  software:
    build:
      context: ./software
      dockerfile: ./Dockerfile
    environment:
      - DEBUGMODE=true
      - DB_HOST=postgresd-node
      - DB_PASSWORD=Pass2020!
      - DB_USER=postgres
      - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
      - MSGCLIENT_HOST=msgclient-node:9095
      - SOFTWARE_SERVICE_HOST=software
      - SOFTWARE_SERVICE_PORT=9090
      - ORGNAME=${ORGNAME}
      - WIMSI_HOST=http://${LOCAL_HOST_IP}:8080
    restart: always
    networks:
      - ukama-net
    depends_on:
      - msgclient-node

  node-gateway-node:
    build:
      dockerfile: ./Dockerfile
      context: ./node-gateway
    restart: always
    ports:
      - "8036:8080"
    networks:
      - ukama-net
    environment:
      - DEBUGMODE=true
      - BYPASS_AUTH_MODE=true
      # - CORS_ALLOWALLORIGINS=true
      # - CORS_ALLOWORIGINS=""
    depends_on:
      - health
      - postgresd-node

  api-gateway-node:
    build:
      dockerfile: ./Dockerfile
      context: ./api-gateway
    restart: always
    ports:
      - "8097:8080"
    networks:
      - ukama-net
    environment:
      - DEBUGMODE=true
      - BYPASS_AUTH_MODE=true
      # - CORS_ALLOWALLORIGINS=true
      # - CORS_ALLOWORIGINS=""
    depends_on:
      - controller
      - postgresd-node

  msgclient-node:
    build: ../services/msgClient
    environment:
      - DEBUGMODE=true
      - DB_HOST=postgresd-node
      - DB_PASSWORD=Pass2020!
      - DB_USER=postgres
      - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
      - SYSTEM=node
    restart: always
    networks:
      - ukama-net
    depends_on:
      - postgresd-node

  initclient-nucleus:
    image: salman-init
    environment:
      - ENV_SYSTEM_ORG=${ORGNAME}
      - ENV_DNS_REFRESH_TIME_PERIOD=30
      - ENV_SYSTEM_NAME=node
      - ENV_SYSTEM_DNS=api-gateway-nucleus
      - ENV_DNS_SERVER=false
      - ENV_SYSTEM_PORT=8080
      - ENV_SYSTEM_CERT=This-is-a-certificate
      - ENV_INIT_SYSTEM_ADDR=${LOCAL_HOST_IP}
      - ENV_INIT_SYSTEM_PORT=8071
      - ENV_INIT_CLIENT_ADDR=initclient-node
      - ENV_INIT_CLIENT_PORT=8080
      - ENV_INIT_CLIENT_TEMP_FILE=/tmp/tmpfile
    restart: always
    networks:
      - ukama-net

  configurator:
    build: ./configurator
    ports:
    - '9040:9090'
    environment:
    - DEBUGMODE=true
    - DB_HOST=postgresd-node
    - DB_PASSWORD=Pass2020!
    - DB_USER=postgres
    - ORGID=${ORGID}
    - ORGNAME=${ORGNAME}
    - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
    - MSGCLIENT_HOST=msgclient-node:9095
    - CONFIGURATOR_SERVICE_HOST=configurator
    - CONFIGURATOR_SERVICE_PORT=9090
    - OWNERID=${OWNERID}
    - PUSHGATEWAY=http://${LOCAL_HOST_IP}:9099
    - REGISTRYHOST=http://${LOCAL_HOST_IP}:8060
    - LATESTCONFIGHASH=1899b5588b085d7277804d519d976958bb544c15
    - STOREURL=http://192.168.0.23/ukama/config.git
    - STOREUSER=root
    - ACCESSTOKEN=Ukama@123
    restart: always
    networks:
    - ukama-net
    depends_on:
    - msgclient-node

networks:
  ukama-net:
    external: true
    name: services_dev-net

volumes:
  postgress-data:
