version: '3.3'
services:
 postgresd-node:
  image: postgres:13.3
  ports:
   - 5489:5432
  environment:
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=Pass2020!
  networks:
   - ukama-net
  volumes:
   - postgress-data:/var/lib/postgresql

 controller:
  build: ./controller
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-node
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-node:9095
   - CONTROLLER_SERVICE_HOST=controller
   - CONTROLLER_SERVICE_PORT=9090
   - ORGNAME=${ORGNAME}
   - HTTP_INITCLIENT=http://api-gateway-init:8080
  restart: always
  networks:
   - ukama-net
  depends_on:
   - msgclient-node
   - postgresd-node

 health:
  build: ./health
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-node
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-node:9095
   - HEALTH_SERVICE_HOST=health
   - HEALTH_SERVICE_PORT=9090
   - ORGNAME=${ORGNAME}
  restart: always
  networks:
   - ukama-net
  depends_on:
   - msgclient-node

 software:
  build: ./software
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-node
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-node:9095
   - SOFTWARE_SERVICE_HOST=software
   - SOFTWARE_SERVICE_PORT=9090
   - ORGNAME=${ORGNAME}
   - WIMSI_HOST=http://${LOCAL_HOST_IP}:8080
  restart: always
  networks:
   - ukama-net
  depends_on:
   - msgclient-node

 state:
  build: ./state
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-node
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-node:9095
   - STATE_SERVICE_HOST=state
   - STATE_SERVICE_PORT=9090
   - ORGNAME=${ORGNAME}
   - ORGID=${ORGID}
   - CONFIGPATH=/app/pkg/nodeState.json
  restart: always
  networks:
   - ukama-net
  depends_on:
   - msgclient-node

 notify:
  build: ./notify
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-node
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-node:9095
   - NOTIFY_SERVICE_HOST=notify
   - NOTIFY_SERVICE_PORT=9090
   - ORGNAME=${ORGNAME}
  restart: always
  networks:
   - ukama-net
  depends_on:
   - postgresd-node

 node-gateway-node:
  build: ./node-gateway
  restart: always
  ports:
   - 8036:8080
  networks:
   - ukama-net
  environment:
   - DEBUGMODE=true
   - BYPASS_AUTH_MODE=true
  depends_on:
   - health
   - postgresd-node

 api-gateway-node:
  build: ./api-gateway
  restart: always
  ports:
   - 8097:8080
  networks:
   - ukama-net
  environment:
   - DEBUGMODE=true
   - BYPASS_AUTH_MODE=true
  depends_on:
   - controller
   - postgresd-node

 msgclient-node:
  build: ../services/msgClient
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-node
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - GRPC_PORT=9095
   - SYSTEM=node
  restart: always
  networks:
   - ukama-net
  depends_on:
   - postgresd-node

 initclient-node:
  build: ../services/initClient
  environment:
   - ENV_SYSTEM_ORG=${ORGNAME}
   - ENV_DNS_REFRESH_TIME_PERIOD=30
   - ENV_SYSTEM_NAME=node
   - ENV_SYSTEM_DNS=api-gateway-node
   - ENV_DNS_SERVER=false
   - ENV_SYSTEM_PORT=8080
   - ENV_SYSTEM_CERT=This-is-a-certificate
   - ENV_INIT_SYSTEM_ADDR=${LOCAL_HOST_IP}
   - ENV_INIT_SYSTEM_PORT=8071
   - ENV_INIT_CLIENT_ADDR=initclient-node
   - ENV_INIT_CLIENT_PORT=8080
   - ENV_INIT_CLIENT_TEMP_FILE=/tmp/tmpfile
  restart: always
  networks:
   - ukama-net
 initclient-node-gw:
  build: ../services/initClient
  environment:
   - ENV_SYSTEM_ORG=${ORGNAME}
   - ENV_DNS_REFRESH_TIME_PERIOD=30
   - ENV_SYSTEM_NAME=node-node-gw
   - ENV_SYSTEM_DNS=node-gateway-node
   - ENV_DNS_SERVER=false
   - ENV_SYSTEM_PORT=8080
   - ENV_SYSTEM_CERT=This-is-a-certificate
   - ENV_INIT_SYSTEM_ADDR=${LOCAL_HOST_IP}
   - ENV_INIT_SYSTEM_PORT=8071
   - ENV_INIT_CLIENT_ADDR=initclient-node-gw
   - ENV_INIT_CLIENT_PORT=8080
   - ENV_INIT_CLIENT_TEMP_FILE=/tmp/tmpfile
  restart: always
  networks:
   - ukama-net

 configurator:
  build: ./configurator
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-node
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@${LOCAL_HOST_IP}:5672
   - MSGCLIENT_HOST=msgclient-node:9095
   - CONFIGURATOR_SERVICE_HOST=configurator
   - CONFIGURATOR_SERVICE_PORT=9090
   - PUSHGATEWAY=http://${LOCAL_HOST_IP}:9091
   - ORGNAME=${ORGNAME}
   - LATESTCONFIGHASH=${LATESTCONFIGHASH}
   - STOREURL=${STOREURL}
   - STOREUSER=root
   - ACCESSTOKEN=${ACCESSTOKEN}
   - HTTP_INITCLIENT=http://api-gateway-init:8080
  restart: always
  networks:
   - ukama-net
  depends_on:
   - msgclient-node

networks:
 ukama-net:
  external: true
  name: services_ukama-net

volumes:
 postgress-data:
