version: "3.2"
services:
  postgresd:
    image: postgres:13.3
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=ThisIsUkamaXPass
    networks:
      - ukama-net
    volumes:
      - postgress-data:/var/lib/postgresql

  network:
    build:
      context: ./network
      dockerfile: ./Dockerfile
    ports:
      - "9093:9090"
    environment:
      - DEBUGMODE=true
      - DB_HOST=postgresd
      - DB_PASSWORD=ThisIsUkamaXPass
      - DB_USER=postgres
      - BOOTSTRAP_URL=bootstrap.dev.ukama.com
      - BOOTSTRAP_AUTH0_CLIENTID=${BOOTSTRAP_AUTH0_CLIENTID}
      - BOOTSTRAP_AUTH0_SECRET=${BOOTSTRAP_AUTH0_SECRET}
      - BOOTSTRAP_AUTH0_HOST=${BOOTSTRAP_AUTH0_HOST}
      - DEBUG_DISABLEBOOTSTRAP=true
      - QUEUE_URI=amqp://guest:guest@rabbitmq:5672
    restart: always
    networks:
      - ukama-net
    depends_on:
      - postgresd

  org:
    build: ./org
    ports:
      - "9091:9090"
    environment:
      - DEBUGMODE=true
      - DB_HOST=postgresd
      - DB_PASSWORD=ThisIsUkamaXPass
      - DB_USER=postgres
      - BOOTSTRAP_URL=bootstrap.dev.ukama.com
      - BOOTSTRAP_AUTH0_CLIENTID=${BOOTSTRAP_AUTH0_CLIENTID}
      - BOOTSTRAP_AUTH0_SECRET=${BOOTSTRAP_AUTH0_SECRET}
      - BOOTSTRAP_AUTH0_HOST=${BOOTSTRAP_AUTH0_HOST}
      - DEBUG_DISABLEBOOTSTRAP=true
      - QUEUE_URI=amqp://guest:guest@rabbitmq:5672
    restart: always
    networks:
      - ukama-net
    depends_on:
      - postgresd

  users:
    build: ./users
    ports:
      - "9090:9090"
    environment:
      - DEBUGMODE=true
      - DB_HOST=postgresd
      - DB_PASSWORD=ThisIsUkamaXPass
      - DB_USER=postgres
      - UKAMA_UUID=${UKAMA_UUID}
      - QUEUE_URI=amqp://guest:guest@rabbitmq:5672
      # - HSSHOST=hss:9090
      # - SIMMANAGER_HOST=simmanager:9090
      # - SIMMANAGER_TIMEOUT=3s
    restart: always
    networks:
      - ukama-net
    depends_on:
      - postgresd

  api-gateway:
    build:
      dockerfile: ./Dockerfile
      context: ./api-gateway
    restart: always
    ports:
      - "8080:8080"
    networks:
      - ukama-net
    environment:
      - DEBUGMODE=true
      - BYPASSAUTHMODE=true
      # - CORS_ALLOWALLORIGINS=true
      # - CORS_ALLOWORIGINS=""
    depends_on:
      - network
      - org
      - users


networks:
  ukama-net:
      ipam:
        driver: default
        config:
            - subnet: 10.10.0.0/24

volumes:
  postgress-data:
