version: '3.11'

services:
  planner:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    hostname: planner_system
    ports:
      - '8000:8000'
    tty: true
    entrypoint: /var/www/app/docker/api/startup.sh
    environment:
      - ENV=dev
      - SDF_DIR
    volumes:
      - .:/var/www/app
      - $SDF_DIR:/data/sdfData
