<!DOCTYPE html>
<html>
<head>
	<title>Email Template</title>
</head>
<body>
	<h1>Hello, {{.RecipientName}}!</h1>
	<p>This is an example email template.</p>
	<p>You can customize this template as per your requirements.</p>
</body>
</html>
