version: '3.9'
services:
 postgresd-init:
  image: postgres:13.3
  ports:
   - 5401:5432
  environment:
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=Pass2020!
  networks:
   - ukama-net
  volumes:
   - postgress-data:/var/lib/postgresql

 lookup:
  build: ./lookup
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-init
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@192.168.0.138:5672
   - MSGCLIENT_HOST=msgclient-init:9095
   - LOOKUP_SERVICE_HOST=lookup
   - LOOKUP_SERVICE_PORT=9090
   - ORGNAME=ukama
   - ORGID=fbc2a80d-339e-4d3c-acaa-329dd3d1b221
  restart: always
  networks:
   - ukama-net
  depends_on:
   - msgclient-init
   - postgresd-init

 bootstrap:
  build: ./bootstrap
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-init
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@192.168.0.138:5672
   - MSGCLIENT_HOST=msgclient-init:9095
   - BOOTSTRAP_SERVICE_HOST=bootstrap
   - BOOTSTRAP_SERVICE_PORT=9090
   - ORGNAME=ukama
   - HTTP_INITCLIENT=http://api-gateway-init:8080
   - 'DNS_MAP=[{"org_name": "ukama", "dns": "localhost"}]'
  restart: always
  networks:
   - ukama-net

 node-gateway-init:
  build: ./node-gateway
  restart: always
  ports:
   - 17998:8080
  networks:
   - ukama-net
  environment:
   - DEBUGMODE=true
   - BYPASS_AUTH_MODE=true
  depends_on:
   - lookup

 api-gateway-init:
  build: ./api-gateway
  restart: always
  ports:
   - 8071:8080
  networks:
   - ukama-net
  environment:
   - DEBUGMODE=true
   - BYPASS_AUTH_MODE=true
   - SERVICES_LOOKUP=lookup:9090
   # - CORS_ALLOWALLORIGINS=true
   # - CORS_ALLOWORIGINS=""
  depends_on:
   - lookup

 msgclient-init:
  build: ../services/msgClient
  ports:
   - '9000:9095'
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-init
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@192.168.0.138:5672
   - SYSTEM=init
   - GRPC_PORT=9095
   - SHOVEL_SRCEXCHANGEKEY=event.cloud.*.*.*
   - SHOVEL_SRCURI=amqp://guest:guest@192.168.0.138:5672
   - SHOVEL_DESTURI=amqp://user:password@192.168.0.26:5672
   - ORGNAME=ukama
   - MASTERORGNAME=ukama
   - MSGBUS_MANAGEMENTURI=http://192.168.0.138:15672
   - MSGBUS_USER=guest
   - MSGBUS_PASSWORD=guest
  restart: always
  networks:
   - ukama-net
  depends_on:
   - postgresd-init

networks:
 ukama-net:
  external: true
  name: services_ukama-net

volumes:
 postgress-data:
