version: '3.3'
services:
 postgresd-messaging:
  image: postgres:13.3
  ports:
   - 5409:5432
  environment:
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=Pass2020!
  networks:
   - ukama-net
  volumes:
   - postgress-data:/var/lib/postgresql

#  mesh:
#   build: ./mesh
#   environment:
#    - ENV_SYSTEM_ORG=${ORGNAME}
#    - ENV_SYSTEM_ORG_ID=${ORGID}
#    - ENV_INIT_SYSTEM_ADDR=192.168.0.138
#    - ENV_INIT_SYSTEM_PORT=8071
#    - ENV_INIT_CLIENT_ADDR=192.168.0.138
#    - ENV_INIT_CLIENT_PORT=8071
#    - ENV_BINDING_IP=0.0.0.0
#    - ENV_WEBSOCKET_PORT=18200
#    - ENV_SERVICES_PORT=4444
#    - ENV_MESH_CERT_FILE=
#    - ENV_MESH_KEY_FILE=
#    - ENV_AMQP_HOST=192.168.0.138
#    - ENV_AMQP_PORT=5672
#    - ENV_AMQP_USER=guest
#    - ENV_AMQP_PASSWORD=guest
#   restart: always
#   ports:
#    - '18200:18200'
#    - '4444:4444'
#   networks:
#    - ukama-net

 api-gateway-messaging:
  build: ./api-gateway
  restart: always
  ports:
   - 8079:8080
  environment:
   - DEBUGMODE=true
   - BYPASS_AUTH_MODE=true
  depends_on:
   - nns
  networks:
   - ukama-net

 etcd:
  image: 'bitnami/etcd:latest'
  networks:
   - ukama-net
  environment:
   - ALLOW_NONE_AUTHENTICATION=yes
   - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
  ports:
   - 2379:2379
   - 2380:2380

 nns:
  build: ./nns
  environment:
   - DEBUGMODE=true
   - DNS_NODEDOMAIN=node.mesh
   - ETCDHOST=etcd:2379
   - QUEUE_URI=amqp://guest:guest@192.168.0.138:5672
   - MSGCLIENT_HOST=msgclient-messaging:9095
   - NNS_SERVICE_HOST=nns
   - NNS_SERVICE_PORT=9090
   - REGISTRY=http://192.168.0.138:8075
   - ORG=fbc2a80d-339e-4d3c-acaa-329dd3d1b221
   - ORGNAME=ukama
   - HTTP_INITCLIENT=http://api-gateway-init:8080
  restart: always
  networks:
   ukama-net:
    ipv4_address: 10.1.0.100

  depends_on:
   - msgclient-messaging

 coredns:
  image: coredns/coredns:latest
  command: -conf /etc/coredns/Corefile -dns.port 53
  restart: on-failure
  networks:
   - ukama-net
  expose:
   - '53'
   - '53/udp'
  ports:
   - '5053:53'
   - '5053:53/udp'
  volumes:
   - './coredns/Corefile:/etc/coredns/Corefile'

 node-feeder:
  build: ./node-feeder
  environment:
   - DEBUGMODE=true
   - ORGNAME=ukama
   - QUEUE_URI=amqp://guest:guest@192.168.0.138:5672
   - HTTP_INITCLIENT=http://api-gateway-init:8080
  depends_on:
   - nns
   - msgclient-messaging
  networks:
   - ukama-net

 msgclient-messaging:
  build: ../services/msgClient
  environment:
   - DEBUGMODE=true
   - DB_HOST=postgresd-messaging
   - DB_PASSWORD=Pass2020!
   - DB_USER=postgres
   - QUEUE_URI=amqp://guest:guest@192.168.0.138:5672
   - SYSTEM=messaging
   - GRPC_PORT=9095
   - ORGNAME=ukama
   - MASTERORGNAME=ukama
  restart: always
  networks:
   - ukama-net
  depends_on:
   - postgresd-messaging

 initclient-messaging:
  # build: ../services/initClient
  image: main-init
  environment:
   - ENV_SYSTEM_ORG=ukama
   - ENV_DNS_REFRESH_TIME_PERIOD=30
   - ENV_SYSTEM_NAME=messaging
   - ENV_SYSTEM_DNS=api-gateway-messaging
   - ENV_DNS_SERVER=false
   - ENV_SYSTEM_PORT=8080
   - ENV_SYSTEM_CERT=This-is-a-certificate
   - ENV_INIT_SYSTEM_ADDR=192.168.0.138
   - ENV_INIT_SYSTEM_PORT=8071
   - ENV_INIT_CLIENT_ADDR=initclient-messaging
   - ENV_INIT_CLIENT_PORT=8080
   - ENV_INIT_CLIENT_TEMP_FILE=/tmp/tmpfile
  restart: always
  networks:
   - ukama-net

networks:
 ukama-net:
  external: true
  name: services_ukama-net

volumes:
 postgress-data:
