html,
body {
    height: 100vh;
    background-color: #f5f6f8;
}
.BrainhubCarousel__arrows {
    padding: 8px !important;
    background-color: #ffffff !important;
}

.BrainhubCarousel__arrows span {
    border-color: #000000 !important;
}

.BrainhubCarousel__arrows span:hover {
    border-color: #2190f6 !important;
}

.BrainhubCarousel__trackContainer ul {
    padding: 4px !important;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 2px solid transparent;
    background-color: #adadad;
}
