# THIS FILE IS GENERATED AUTOMATICALLY BY RUNNING gen-workflow.sh 
# DON'T CHANGE IT MANUALLY TO AVOID YOUR CHANGES BEING OVERWRITTEN
# USE workflow-template.yaml FOR MAKING CHANGES IN WORKFLOWS
name: build-common
on:  
  push:   
    paths:
        - "services/common/**"
        - ".github/workflows/common-lib.yml"

jobs:  
  build:
    env: 
      working-directory: services/common

    name: build and test
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v2
  
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    
    - name: Test
      run: go test -v ./... -coverprofile="coverage.out"
      working-directory: ${{ env.working-directory }}
    
    - name: Test
      run: make lint
      working-directory: ${{ env.working-directory }}