name: global

on:  
  pull_request:
   

jobs:  
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.ref }}
      - name: Run Danger
        if: ${{ github.event_name == 'pull_request' }}
        uses: danger/danger-js@10.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.UKAMA_BOT_GITHUB_TOKEN }}